[/]
tools.staticdir.root: os.path.normpath(os.path.abspath(os.path.curdir))
tools.staticfile.root: os.path.normpath(os.path.abspath(os.path.curdir))
tools.encode.on: False
tools.gzip.on: True
tools.gzip.mime_types: ['text/html', 'text/plain', 'application/json', 'text/javascript', 'application/javascript']
tools.sessions.on:  True
#tools.sessions.storage_type: "file"
#tools.sessions.storage_path: os.path.join(tempfile.gettempdir(), "sessions")
#tools.sessions.locking: 'early'
[/generator]
request.dispatch: cherrypy.dispatch.MethodDispatcher()
tools.response_headers.on: True
tools.response_headers.headers: [('Content-Type', 'text/plain')]
[/static]
tools.etags.on: True
tools.staticdir.on: True
tools.staticdir.dir: "public"
